/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
/* REGULAR */
@font-face {
    font-family: "montserratRegular";
    src: url("../font/montserrat-regular.woff2") format("woff2"),
        url("../font/montserrat-regular.woff") format("woff");
}
/* BOLD */
@font-face {
    font-family: "montserratBold";
    src: url("../font/montserrat-bold.woff2") format("woff2"),
        url("../font/montserrat-bold.woff") format("woff");
}
/* ITALIC */
@font-face {
    font-family: "montserratItalic";
    src: url("../font/montserrat-italic.woff2") format("woff2"),
        url("../font/montserrat-italic.woff") format("woff");
}

/* ******************************** */
/* VARIABLES */
/* Colores */
:root {
    --color-bgMenu: #464552;
    --color-bgBody: #B7D4E9;
    --color-linkAction: #fdfdfd;
    --color-link: #9c9c9c;
    /* Tamaños */
    --size-screen: 1366px;
}

a{
  color: var(--color-link);
}
a:hover{
  color: var(--color-linkAction);
}

.action{
  color: var(--color-linkAction);
  text-decoration: underline;
}

/* ******************************** */
html{
  font-size: 16px;
  font-family: 'montserratRegular', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  background-color: var(--color-bgBody);
}

.container {
  width: 100%;
  height: 100px;
  max-width: var(--size-screen);
}


/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: var(--color-bgMenu);
}

.logotipo {
  & .logotipo_logo {
    font-family: 'montserratBold';
  }
}


.menu {
  display: flex;
  gap: 20px;
  & .menu__home {
  }
  & .menu__products {
  }
  & .menu__aboutus {
  }
  & .menu__contacts {
  }
}
.ecommerce {
  display: flex;
  gap: 20px;
  & .ecommerce__lupa {

  }
  & .ecommerce__carrito {
  }
}
