/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
/* REGULAR */
@font-face {
    font-family: "montserratRegular";
    src: url("../font/montserrat-regular.woff2") format("woff2"),
        url("../font/montserrat-regular.woff") format("woff");
}
/* BOLD */
@font-face {
    font-family: "montserratBold";
    src: url("../font/montserrat-bold.woff2") format("woff2"),
        url("../font/montserrat-bold.woff") format("woff");
}
/* ITALIC */
@font-face {
    font-family: "montserratItalic";
    src: url("../font/montserrat-italic.woff2") format("woff2"),
        url("../font/montserrat-italic.woff") format("woff");
}

/* ******************************** */
/* VARIABLES */
/* Colores */
:root {
    --color-bgMenu: #464552;
    --color-bgBody: #b7d4e9;
    --color-linkAction: #fdfdfd;
    --color-link: #9c9c9c;
    /* Tamaños */
    --size-screen: 1366px;
}

a {
    color: var(--color-link);
}
a:hover {
    color: var(--color-linkAction);
}

.action {
    color: var(--color-linkAction);
    text-decoration: underline;
}

/* ******************************** */
html {
    font-size: 16px;
    font-family: "montserratRegular", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: var(--size-screen);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: var(--color-bgMenu);
}

.logotipo {
    & .logotipo_logo {
        font-family: "montserratBold";
    }
}

.menu {
    display: flex;
    gap: 20px;
    /* & .menu__home {
  }
  & .menu__products {
  }
  & .menu__aboutus {
  }
  & .menu__contacts {
  } */
}
.ecommerce {
    display: flex;
    gap: 20px;
    /* & .ecommerce__lupa {

  } */
    & .ecommerce__carrito {
        background: linear-gradient(
            180deg,
            #fff 50%,
            #25262a 50%,
            #25262a 100%
        );
    }
}

/* ********************************** */
/* MAIN */
/* ********************************** */
main{
    columns: 2;
    column-gap: 30px;

    & img{
        padding: 20px 0;
    }
    padding: 100px 50px;

    & p{
        text-align: justify;
    }
}
/* ********************************** */
/* FOOTER */
/* ********************************** */
/* Section Imágenes */
footer{
  width: 100%;
  background: linear-gradient(180deg, #FFF 0%, #FFF 10%, #25262A 10%, #25262A 100%, #25262A 100%);  
  display: flex;
  justify-content: center;
  color: #fff;;
}
.footer-img {
  display: flex;
  justify-content: space-between;
  
    & .footer-img__img1 {
    }
    & .footer-img__img2 {
    }
    & .footer-img__img3 {
    }
    & .footer-img__img4 {
    }
}
/* SECTION CENTRAL */
.footerdescripcion {
    margin: 80px 0;
    columns: 5;
    & .footerdescripcion__logo-des {
    }
    & .footerdescripcion__suport {
    }
    & .footerdescripcion__shop {
    }
    & .footerdescripcion__company {
    }
    & .footerdescripcion__contact {
        & li{
            display: flex;
            gap: 10px;
        }
    }
}
.logodescript {
    margin-bottom: 30px;
}
.logo {
}
.rrss {
    display: flex;
    gap: 10px;
    & .rrss__facebook {
    }
    & .rrss__twitter {
    }
    & .rrss__youtube {
    }
}
.titulo-li {
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: capitalize;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .copyright__copy {
    }
    & .copyright__tarjetas {
        display: flex;
        gap: 10px;
    }
}
/* .tarjetas {
    & tarjetas__visa {
    }
    & tarjetas__mastercard {
    }
    & tarjetas__american {
    }
    & tarjetas__paypal {
    }
    & tarjetas__stripe {
    }
} */
